@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer utilities {
  @variants responsive {
      .text-shadow {
        text-shadow: 2px 2px 4px gray;
      }
      .text-shadow-md {
        text-shadow: 4px 4px 8px gray;
      }
      .text-shadow-lg {
        text-shadow: 15px 15px 30px gray;
      }
      .text-shadow-none {
        text-shadow: none;
      }
  } 
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(165, 142, 142); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c49595; 
}