.cart {
  position: relative;
  z-index: 999;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 6rem;
  height: 6rem;
  visibility: hidden;
  opacity: 0;
  border-radius: 50%;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.65);
  transition: all 0.85s linear 0.15s;
}

.cart-food {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 0.45s ease-in-out 0.9s;
  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.1);
  opacity: 0.85;
  transform: translateX(100%);
}

.cart.active .cart-overlay {
  visibility: visible;
  opacity: 1;
  transform: scale(80);
  transition-delay: 0s;
}

.cart.active .cart-food {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.35;
}
